ul {
    border: 2px solid #64649b;
}

/* li {
    color: white;
} */

p {
    color: purple;
}

body {
    background-color: #ADADAD;
}

.okay {
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.base {
    color: white;
}

#nav-list {
    margin: auto;
    text-align: center;
}

#nav-list ul{
    list-style: none;
}

#nav-list li{
    display: inline;
    padding: 10px; 
}

.data-display {
    margin: auto;
}

.data-display h1 {
    text-align: center;
}

fieldset {
    position: relative;
}
  
legend {
    position: absolute;
    bottom: 0;
    right: 0;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=email] {
    width: 50%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-image: url('img/at.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  input[type=tel] {
    width: 50%;
    padding: 12px 20px;
    border-radius: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  summary {
    text-align: center;
    cursor: pointer;
  }

  summary::marker {
    content: '➕';
    font-size: 1.4em;
  }

  details[open] > summary::marker {
    content: "➖";
    font-size: 1.4em;
}

.form_container {
    margin: auto;
    width: 60%;
}

.data-display {
    color: black;
}

.sub-form {
    display: flex;
}

.sub-form a {
    margin: auto;
}

.logout {
    background-color: rgb(144, 173, 235); 
    color: white; 
    border: 1px solid black;
    float: right;
    box-shadow: 0 2px 0 0 black;
    border-radius: 5px;
    font-size: 2rem; 
    cursor: pointer;
  }
  
.logout:hover {
    background-color: RoyalBlue;
}
